
{% extends 'carlosapp/base.html' %}
{% load static %}

<title>{% block title %} Index {% endblock title %}</title>


{% block content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Css/incio.css' %}">
{% endblock styles %}

    <div class="produto">
    {% for p in produtos %}
       
        <div class="produto-item">
            <h2 style="padding: 5px;">{{ p.nome }}</h2>
            <img src="{{ p.imagem.url }}" alt="imagem" width="150px" height="150px">
            <p> De:<s> R$ {{ p.subi_preco}}</s>   R$ {{ p.preco }}</p>

           
           
            <p> {{ p.slug }}</p>
        </div>
       
           
    {% endfor %}  
    </div>       

{% endblock  %}

